@import './base.scss';

.App {
  text-align: center;
  .title {
    color: $purple;
    text-align: center;
    margin: 20px;
  }
  .add-note{
    margin-bottom: 40px;
    .add-title{
      min-width: 150px;
      text-align: center;
      font-size: 10pt;
    }
    .add-icon {
      width: 25px;
      cursor: pointer;
      transform: translateY(12px);
      &:hover {
        opacity: 0.5;
      }
    }
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 80vh;
    @media(min-width: 768px) {
      flex-direction: row;
      height: 75vh;
    }
    .board {
      background-color: $light-gray;
      min-width: 50vw;
      width: 100vw;
      height: 100%;
      text-align: left;
      padding-bottom: 45px;
      @media(min-width: 768px) {
        width: auto;
      }
      .actions {
        height: 40px;
        border-bottom: 1px solid $green;
        margin: 15px;
        .remove-icon {
          transform: translateY(1px);
          cursor: pointer;
          float: right;
          &:hover {
            opacity: 0.5;
          }
        }
      } 
      .notes{
        margin: 15px;
        .single-note {
          cursor: pointer;
          list-style: none;
          &.highlight {
            color: $white;
            background: $purple;
          }
        }
      }
    }
    .description {
      padding-top: 45px;
      min-width: 50vw;
      border: none;
      border-left: 1px solid $purple;
      background: $purple-gradient;
      display: flex;
      justify-content: center;
      width: 100vw;
      height: 100%;
      @media(min-width: 768px) {
        width: auto;
      }
      textarea {
        border: none;
        resize: none;
        min-width: 90vw;
        color: $white;
        background: transparent;
        @media(min-width: 768px) {
          min-width: 45vw;
        }
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: $white;
        }
      }
    }
  }
}