@import url('https://fonts.googleapis.com/css?family=Nunito');

$purple: #8844ee;
$purple-gradient: linear-gradient(to bottom, #8844ee 0%,#915dad 100%);
$green: #1abc9c;
$white: #fff;
$gray: #555;
$light-gray: #f5f5f5;
$font: 'Nunito';

body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100vw;
  height: 100%;
  color: $gray;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  button {
    margin: 0;
    outline: 0;
    vertical-align: middle;
    border: none;
    cursor: pointer;
  }
  .App {
    text-align: center;
    .add-icon {
      width: 25px;
    }
    li {
      list-style: none;
    }
    .highlight {
      background-color: red;
    }
  }
}